.feedback
{
	.emptyState img{ max-width:400px;}

  .emptyState .title
  {
    font-size:22px;
    color:#333;
    font-weight: normal;
    display: block;
    margin-top:30px;
    margin-bottom:20px;
  }
  .emptyState .title strong
	{
		font-weight: bold;
	}

	.date{
		font-weight: normal;
		font-style:italic;
		text-align: right;
		font-size:15px;
	}

	  @media screen and(max-width: $break-tablet)
	  {
			.emptyState img
			{
				max-width:auto;
				width: 60vw;
				height: 60vw;
				margin:auto;
				//margin: 3vw auto 0 auto;
			}

	  	.col{
	  		padding:0px !important;
	  	}
	  	.col-md-4{
      	padding:0px;
   	 	}
	  }

		.navigation
		{
		  padding:10px;
		  margin-top: -10px;
		  margin-bottom:10px;
		}

		.panel-heading
		{
	    line-height: 20px;
	    vertical-align: middle;
	    min-height: 40px;
		}

		.head
		{
			height: 59px;
			border-bottom: 1px #ddd solid;
			line-height: 59px;
			vertical-align: middle;
		}

		.panel-heading .col-md-8{padding:0px;}
		.panel-heading .title a{color:#fff;}
		.time
		{
			font-style:italic;
			vertical-align: middle;
			line-height: 59px;
		}


  .recentFeedback
  {
  	.commentItem
  	{
  		border:1px solid #ddd;
  		margin-bottom:20px;

	    .content
			{
				padding-top: 10px;
			}

    	.rating
    	{
				min-height:100px;
				vertical-align: middle;
				text-align: center;
				line-height: 100px;
				font-size:20px;
				border-right:1px solid #ddd;
    	}
    	.title
    	{
    		font-size:15px;
    		font-weight: bold;
    	}

			.date
			{
			  text-style:italic;

			  text-align: right;
			}

		.description
		{
			margin-top:10px;
			text-align:justify;
		}
   }
  }
}
