.notification
{		

	@media screen and(max-width: $break-tablet)
	{
		.markAsRead{text-align: left !important}
	}
	
	.markAsRead{text-align: right;}

	.nav-tabs{border-bottom:0px;}
	.nav.nav-tabs li{width:50%;}
	// .nav.nav-tabs li:last-child
	// {
	// 	border:none !important;
	// }

	.nav-tabs > li.active > a
	{
	  background-color:#fff !important;
	  color:#333 !important;
	  border-bottom:none !important;
	  border-right:1px solid #ddd;
	}
	.nav-tabs > li > a
	{
		background-color: #87CDD3;
		color:#fff;
		margin-right:0px;
		border-radius:0px;
		font-weight: bold;
		font-size: 16px;
		border-right:1px solid #ddd;
	  border-bottom:1px solid #ddd;
	}


	.nav-tabs > li > a:hover{cursor:pointer;color:#333;}
	.nav-tabs > li:hover{border-color:#6D6D6D !important;}
	.nav.nav-tabs
	{
	  border-top:1px solid #ddd;
	  border-left:1px solid #ddd;
	  border-right:1px solid #ddd;
	}

	.tab-content
	{
	  border-right:1px solid #ddd;
	  border-left:1px solid #ddd;
	  border-bottom:1px solid #ddd; 
	  padding-top:10px;
	}

	.notificationItem
	{
		border-bottom:1px solid #ddd;
		padding-bottom:10px;
		line-height:50px;
		min-height:50px;
		vertical-align:middle;
		margin-bottom:10px;

	  .title
	  {
		  text-align: left;
		  color:#333;
		  font-size:16px;
		}

		.date
		{
		  text-align: right;
		  color:#333;
		  font-style:italic;
		}
	}
	.notificationItem:last-child{
  		margin-bottom:0px !important;
	}
}
