.reflectioncontainer
{
  background-image: url("triangle/triangle.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40vw;
  height: 40vw;
  margin: 3vw auto 0 auto;

  @media screen and(max-width: $break-tablet)
  {
    margin-top: 10vw;
    width: 90vw;
    height: 90vw;
  }

  @media screen and(max-width: $break-phone)
  {
    margin-top: 10vw;
    width: 75vw;
    height: 75vw;
  }

  .topleft
  {
    float: left;
    width: 50%;
    height: 50%;

    .custom
    {
      @include border-radius(100%);
      float: right;
      width: 42.5%;
      height: 42.5%;
      margin-top: 20%;
      margin-right: 1.5%;
    }

    .transparant
    {
      margin-top: -5%;
      margin-left: 30%;
      @include border-radius(100%);
      float: left;
      width: 42.5%;
      height: 42.5%;
    }
  }

  .topright
  {
    float: left;
    width: 50%;
    height: 50%;

    .theorie
    {
      @include border-radius(100%);
      float: left;
      width: 42.5%;
      height: 42.5%;
      margin-top: 20%;
      margin-left: 1.5%;
    }

    .model
    {
      margin-top: -5%;
      margin-right: 30%;
      @include border-radius(100%);
      float: right;
      width: 42.5%;
      height: 42.5%;
    }
  }

  .bottomleft
  {
    float: left;
    clear: both;
    width: 50%;
    height: 50%;

    .feedback
    {
      margin-left: 22%;
      @include border-radius(100%);
      float: left;
      width: 42.5%;
      height: 42.5%;
    }

    .methodiek
    {
      @include border-radius(100%);
      margin-top: -12.5%;
      margin-right: 1.5%;
      float: right;
      width: 42.5%;
      height: 42.5%;
    }
  }

  .bottomright
  {
    float: left;
    width: 50%;
    height: 50%;

    .gerichtheid
    {
      margin-right: 22%;
      @include border-radius(100%);
      float: right;
      width: 42.5%;
      height: 42.5%;
    }

    .strategie
    {
      @include border-radius(100%);
      margin-top: -12.5%;
      margin-left: 1.5%;
      float: left;
      width: 42.5%;
      height: 42.5%;
    }
  }

  .radarinfo
  {
    text-align: center;
  }
}
