/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
composer.lock
resources/views/home.blade.php
resources/views/pages/profile.blade.php
resources/assets/sass/app.scss