//-----------------font styling----------------//
h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
  font-weight: bold;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  font-weight: lighter;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}
