/*** Sub page navigation ***/

.navigation
{
	padding:7px;
	border-radius:3px;
	@include border-radius(4px);
	margin-bottom:20px;
	background-color: $lightblue;

 a
 {
	display: inline-block;
	margin-right:20px;
	color:#000;
	font-size:15px;
	padding:5px;
	}

	a:hover
	{
		text-decoration: none;
		color: $blue;
	}

	i
	{
	  margin-right:5px;
	}
	.edit{
		float:right;
	}
	.del{
		float:right;
	}
}

	.button{
		@include border-radius(4px);
		@include transition(0.2s);
		background-color: $green;
		color:#fff !important;
		padding: 4px 12px 4px 12px;
		text-decoration: none;
		font-size:16px;
		border:2px solid #ddd;
		border-width: thin;

	}
	.button:hover{
	  background-color:#666666;
	  text-decoration:none;
	}

	.addNewItemButton
	{
	  position: fixed;
	  right: 20px;
	  bottom: 20px;
	  width: 50px;
	  height: 50px;
		margin-bottom: 50px;

	  text-align: center;
	  background-color: green;
	  @include border-radius(100%);

	  font-weight: lighter;
	  font-size: 33px;
	  color: white;
	  text-decoration: none;

	  box-shadow: 0px 5px 10px #666;
	}

	.addNewItemButton:hover
	{
	  text-decoration: none;
	  color: white;
	}

	.loader_icon {
		margin: auto;
		display: block;
		max-width: 75px;
		width: 100%;
	}

	.ajax-header {
    height: 50px;
    background: darkgray;
    border-radius: 5px;
		padding: 11px 10px;
	}

	.ajax-content {
		display: none;
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    margin-bottom: 50px;
		border-style: solid;
    border-radius: 5px;
    border-width: thin;
		background-color: white;
	}

	.row-centered {
    text-align: center;
    padding: 15px;
	}

	.save-button {
    background-color: #5cb85c;
    padding: 5px 15px;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    color: white;
	}
