@media screen and(max-width: $break-phone)
{
	#header
	{
		display: none !important;
	}
}

@media screen and(max-width: $break-tablet)
{
	#header
	{
		display: none !important;
	}
}

.row-centered{text-align: center;padding: 5px 20px;}

a.notificationIcon:hover{text-decoration: none;}

.notificationCount{
  color: #fff;
	background: #EB6A6B;
  font-weight: bold;
  border:2px solid #B82052;
  font-size:14px;
  padding:0px 6px 0px 6px;
  border-radius:20px;
  position: relative;
  left:50px;
  top:-50px;

}
.loader_icon
{
	margin: auto;
	display: block;
	max-width: 75px;
	width: 100%;
}

.ajax-header
{
  height: 50px;
  background: #f5f5f5;
  border-radius: 5px;
	padding: 11px 10px;
}

.ajax-content
{
	display: none;
  width: 100%;
  position: absolute;
  top: 65px;
  left: 0;
  margin-bottom: 50px;
	border-style: solid;
  border-radius: 5px;
  border-width: thin;
	background-color: white;
}


@media screen and(max-width: $break-phone)
{
 .fa-plus-circle
 {
   margin-bottom: 55px;
 }
}

.fa-plus-circle
{
 position: fixed;
 right: 20px;
 bottom: 20px;
 font-size: 50px;
 color: $green;
 background-color:#fff;
}

.button-left {float: left;}

.button
{
	@include border-radius(4px);
	@include transition(0.2s);
	background-color: $green;
	color:#fff !important;
	padding: 4px 12px 4px 12px;
	text-decoration: none;
	font-size:16px;
	border:2px solid #ddd;
	border-width: thin;
}

.button:hover
{
  background-color:#666666;
  text-decoration:none;
}
.go-button.btn
{
	font-family: 'Quicksand', sans-serif;
	border-color: #6d6d6d;
	color: #6d6d6d;
	font-size: 24px;
	background-color: white;
	border-style: solid;
	border-width: medium;
	border-radius: 10px;
	padding: 5px 40px;
	font-weight: bold;
}

.go-button.btn:hover
{
	color:#86CED5;
	cursor:pointer;
}

.save-button
{
  background-color: #5cb85c;
  padding: 5px 20px;
  border-radius: 5px;
	font-size: 15px;
  border-style: solid;
  border-width: thin;
  color: white;
	margin-top: 15px;
}

.general-button
{
	background-color: #e8e8e8;
  padding: 5px 20px;
  border-radius: 5px;
	font-size: 15px;
  border-style: solid;
  border-width: thin;
  color: black;
}
//Full width responsive buttons
@media screen and(max-width: $break-tablet)
{
  .save-button
  {
    width:100%;
    font-weight: 500 !important;
  }
  .general-button
  {
    width:100%;
    font-weight: 500 !important;
  }
  .button
  {
    width:100%;
    font-weight: 500 !important;
  }

}

.arrow {float: right;}

.col-xs-offset-2 {margin-left: 5%;}

.col-xs-6 {width: 47%;}

#reflection-model-open{display: none;}

.title{font-weight: bold;font-weight: 400;}
.subtitle{font-weight: italic !important; font-size:14px !important;}

.date {float: right;}

.form-group.has-error input{border:1px solid red !important;}

.alert
{
    // position: absolute;
    // top: 10px;
    // left: 0;
    // right: 0;
    // margin-left: auto;
    // margin-right: auto;
    // text-align: center;
    // width: 300px;
    // z-index: 1000;

    @include animation(1s);
    @include animation-delay(3s);

}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.header-logo {
	height: 90px;
	margin: -20px 0px;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    height: 75px;
	  font-weight: 700;
}
.navbar-nav > li > a {
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
    line-height: 45px;
}


.panel.panel-default > .panel-heading
{
    color: #fff;
    background-color: #8ED1D8;
    border-color: #ddd;
    font-size: 16px;
    font-weight: 500;
}

/*** TAGS ***/

.tags{padding:0;}
.tag
{
  float: left;
  background-color: #888;
  color: #fff;
  padding: 2px 12px 2px 12px;
  font-size: 13px;
  margin-right: 10px;
  border-radius:3px;
  margin-bottom:10px;
}
a.active
{
  color: $lightblue !important;
}

.logout-menu
{
  margin-right: 40px !important;
}
