//----------------PrimaryColors-------------------------//
$lightblue: #87cdd3;        //Lightblue
$blue: #2a3a89;        //Blue
$grey: #c6c6c6;        //Grey

//----------------FunctionColors-------------------------//
$redorange: #eb6a6b;       //Red / Orange
$red: #b82052;       //Red
$pink: #e29cc1;       //Pink

//----------------ConfirmColors-------------------------//
$yellow: #dcdf6c;        //Yellow
$green: #68883c;        //Green



