//----------------PrimaryColors-------------------------//
$lightblue: #87cdd3;
$blue: #2a3a89;
$grey: #c6c6c6;

//----------------FunctionColors-------------------------//
$redorange: #eb6a6b;
$red: #b82052;
$pink: #e29cc1;

//----------------ConfirmColors-------------------------//
$yellow: #dcdf6c;
$green: #68883c;

//----------------mediaqueries---------------------//
$break-phone: 415px;
$break-tablet: 768px;
$break-pc: 1200px;




